.categories {
    grid-area: categories;
    padding: 30px;
    background-color: var(--extreme-light-grey);
    color: var(--text-black);
    box-shadow: 4px 6px 10px -1px rgba(0,0,0,.25);
    border-radius: .25rem;
    max-width: 85%;
    transition: background-color, color, var(--theme-transition-duration) ease-in-out;
}

.dark .categories {
    background-color: var(--black-blue);
    color: var(--text-white);
}

.categories > h3 {
    margin-bottom: 1rem;
}

.categories-list { 
    list-style-type: none;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.category {
    cursor: pointer;
    transition: opacity 250ms ease-in-out;
}

.category.active-category {
    color: var(--green);
    font-size: 1.2em;
}

.category:not(.active-category):hover {
    opacity: 0.5;
}

.category-input-container {
    margin-top: 1rem;
    width: 100%;
}

